

    <div class="row">

    </div>
    {{!-- <div class="greetCount">
    <label for="iNumber">Greetings Count:</label>
        <div class="col-auto row counter">
        0
        </div>
    </div> --}}

    <form action="/greeting" method="POST">

            {{#if messages.info}}
            <div class="entry">
                {{messages.info}}
            </div>
            {{/if}}
        <div class="space topMessage ">
            <label for="nameOfUser">Name</label>
            <input type="text" name="name" class="nameOfUser" placeholder="Enter your name">
        </div>
        <div class="col-auto space row">

            <input type="radio" name="languageType" class=language value="English" checked> English
            <input type="radio" name="languageType" class=language value="Afrikaans"> Afrikaans
            <input type="radio" name="languageType" class=language value="Xhosa"> Xhosa
        </div>
        <div class="col auto space row">

            {{greeting}}
        </div>
        <div class="col auto space row">
            {{counter}}
        </div>
        <div class="row col-auto space button">
            <input type="submit" class="btn-primary greet " value="Greet me ">
        </div>

    <div><a href="/greeted">Users Greeted </a></div>
    <div class="row col-auto space topMessage msg pad">

    </form>
<form action="/reset" method="POST">
<input type="submit" class="btn-warning res" value="Reset">
</form>
    </div>

    <script>

        setTimeout(function(){
            document.querySelector(".entry").innerHTML = "";
        }, 5000);

    </script>
