

    <div class="row">

        <h1>Greetings</h1>
    </div>
    <form action="/greeting" method="POST">

            {{#if messages.info}}
            <div class="entry">
                {{messages.info}}
            </div>
            {{/if}}
        <div class="row mt-2" >
            <label for="nameOfUser">Name</label>
            <input type="text" name="name" class=" mt-" placeholder="Enter your name">
        </div>
        <div class="row mt-4">

            <input type="radio" name="languageType" class=language value="English" checked> English
            <input type="radio" name="languageType" class=language value="Afrikaans"> Afrikaans
            <input type="radio" name="languageType" class=language value="Xhosa"> Xhosa
        </div>
        <div class="row mt-3">

            {{greeting}}
        </div>
        <div class="row mt-2">
            {{counter}}
        </div>
        <div class="row mt-4">
            <input type="submit" class="btn-primary rad " value="Greet me ">
        </div>
         <div class="row mt-3">
     <a href="/greeted">Users Greeted </a>
 </div>
    

   
    </form>

<form action="/reset" method="POST">
<div class="row mt-4">
    
<input type="submit" class="btn-warning rad" value="Reset">
</div>
</form>
    <script>

        setTimeout(function(){
            document.querySelector(".entry").innerHTML = "";
        }, 5000);

    </script>
