body{background-color: lavenderblush;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
vertical-align: auto;
font-size: larger;
}
input[type="radio"]{margin: 0.3em;
padding: 0.5em;}
/* h1{ 
padding-left: 15em;} */
.space{
    /* padding: 9px; */
    /* margin: em; */
    padding: 1em;
}
input[type="submit"]{width: 6em;}
/* .button{padding: 15px 32px;
    font-size: 16px;}
    .pad{padding: 15px 32px;
        font-size: 16px;} */
     /* .space input[type="button"] {

    font-size: 16px;
    border-radius: 1em;}  */
li{text-decoration: none;
}
.rad{border-radius: 0.6em;}
/* display: inline-block;
border: violet 1px solid;} */
ul{text-decoration: none;
list-style:none;
}
a {color: green;
text-decoration: none;
;}
.container{
 width: 400px;
 /* height: 400px; */
 background: #fff;
 top: 40%;
 left: 50%;
 position: absolute;
 transform: translate(-50%, -50%);
 box-sizing: border-box;	
 background-color: #87cefa;
 padding:5em;
 padding-left: 3em;
 border-radius: 1.2EM;
}

.entry{color:red}
.greet{border-radius:  0.4em;
height: 2.5em;
width: 7em;}
.res{border-radius: 0.4em;
width: 6em;
height: 2.5em;}
/* .nameOfUser{  margin-top: 0 !important;} */
/* .inline{
    display: inline-block
} */